/* clear style sheet */
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Sansita:wght@400;700&display=swap');

/* variables here */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  /* colors */
  --dark-grey: #606060;
  --light-grey: #f3f3f3;
  --main-black: #181717;
  /* fonts */
  --main-font: 'DM Sans', sans-serif;
}

body {
  font-family: var(--main-font);
  color: var(--main-black);
}

/* I'm really not sure why I had to specify the links in particular to override the colour here? I have the clear style sheet up the top obviously which is cool, then I re-add the underline just for the .read-blog-link class, but I couldn't for the life of me figure out how else to get rid of the blue text for the links! I thought that the body selector above would have done it since this worked for the rest of the site... Very keen on your thoughts here since I'm sure I'm just doing something dumb :)*/
a {
  color: var(--main-black);
}

header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

header nav ul li a {
  padding: 5px;
}

.blog-logo {
  height: 9vh;
  margin-left: 50px;
}

nav ul {
  margin-right: 50px;
  display: flex;
}

nav ul li:hover {
  text-decoration: underline;
  font-weight: bold;
}

footer {
  height: 10vh;
  line-height: 10vh;
}

.intro {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hello {
  margin-left: 50px;
  width: 40vw;
  font-size: 30px;
}

.about-me {
  font-size: 16px;
  width: 40vw;
  margin-right: 50px;
  color: var(--dark-grey);
}

/* .about-me-headline {
   display: flex;
  justify-content: end;
  margin: 10vh 41vw;  this is a really ugly solution, I was struggling to get the About Me headline to sit in the same place above the text here, because I only had the one element (whereas in other places I had two next to each other which I had spaced with space-between). 
  width: 40vw;
}
 */
.blog-container {
  height: 30vh;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.blog-page {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  height: 30vh;
  margin-bottom: 50px;
}

.about-container {
  height: 30vh;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
}

.about-image {
  height: 30vh;
  width: 30vw;
}

.about-info {
  width: 40vw;
  height: 30vh;
}

.blog {
  width: 30vw;
  display: flex;
  flex-direction: column;
}

.about-blog {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-image {
  height: 30vh;
  width: 40vw;
  margin-right: 50px;
}

.blog-title-date {
  margin-bottom: 10px;
}

.read-blog-link {
  text-decoration: underline;
  font-weight: bold;
}

hr {
  border: 3px solid var(--light-grey);
  margin: 0 50px;
}

.blog-highlight-info {
  margin: 20px 0;
}

.blog-two {
  height: 30vh;
}

.recent-blogs-title {
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 100px;
  font-weight: bold;
}

.recent-blogs-list {
  display: flex;
  margin: 50px 50px;
  justify-content: space-between;
}

.show-mobile {
  display: none;
}

footer p {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  font-size: 16px;
  color: var(--dark-grey);
}

@media all and (max-width: 1000px) {

  body {
    width: 900px;
  }

  .hide-tablet {
    display: none;
  }

  .blog-image {
    width: 450px;
    height: 250px;
  }

  .blog {
    width: 600px;
  }

  .about-me {
    margin-right: 0px;
  }

  .intro {
    height: 200px;
    width:  800px;
  }

  .intro .about-me h2 {
    text-align: end;
  }

  .blog-page {
    flex-direction: column-reverse;
    align-items: center;
    width: 800px;
    height: 400px;
  }

  .blog-highlight-info {
    width: 600px;
  }

  header {
    width: 800px;
  }

  .about-container {
    height: 450px;
  }

  .about-blog {
    flex-direction: column;
    width: 800px;
    height: 250px;
  }

  .about-image {
    width: 600px;
    height: 300px;
    margin-bottom: 50px;
  }

  .about-info {
    width: 600px;
  }

  hr {
    width: 800px;
  }

}

@media all and (max-width: 750px) {

  .hide-mobile {
    display: none;
  }

  header {
    width: 600px;
  }

  /* Really wasn't sure where the margin-right was coming from here... I checked out the intro class and I couldn't see any margin being applied, but there must be some coming from somewhere!*/ 
  .intro {
    width: 600px;
    height: 200px;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 50px;
  }

  .intro .hello h1 {

    text-align: center;

  }

  .blog-intro {
    justify-content: start;
    flex-direction: row;
    margin-left: 50px;
  }

  .hello {
    margin: 25px 0px;
    width: 600px;
  }
  
  .blog-container {
    width: 600px;
    height: 400px;
    flex-direction: column-reverse;
    margin-top: 120px;
  }


  .blog-page {
    width: 600px;
  }
  
  /* Having some difficulty getting the three components in here to sit the way I want to... Not really sure how to have the two on the left show above/below each other and then have the read this blog link appear in its own column  -experiemented a bit with flex wrap but couldn't quite crack it

  Never mind! I kinda managed to get it working..? */
  .blog {
    flex-wrap: wrap;
    height: 300px;
    width: 600px;
  }

  .blog-title-date {
    height: 100px;
    width: 200px;
  }

  .read-blog-link {
    height: 50px;
    width: 200px;
  }

  .blog-image {
    height: 200px;
    width: 550px;
    margin-left: 50px;
    margin-bottom: 25px;
  }

  .about-container {
    height: 450px;
  }

  .about-blog {
    flex-direction: column;
    width: 600px;
    height: 250px;
  }

  .about-image {
    width: 500px;
    height: 300px;
    margin-bottom: 50px;
  }

  .about-info {
    width: 500px;
  }

  .show-mobile {
    display: block;
  }

  .recent-blogs-title {
    margin-top: 50px;
  }

  .recent-blogs-list {
    width: 600px;
    flex-direction: column;
  }

  footer p {
    width: 600px;
    margin-right: 0px;
  }

  hr {
    width: 600px;
  }
}

/* BEM convention: Block, Element, Modifier */
